.imageContainer {
    position: relative;
    width: 90%;
    margin: 1rem auto;
    border-radius: 100px;
}

.image {
    position: relative;
    max-height: 300px;
    margin: 2rem auto;
    border-radius: 100px;
}

.description {
    font-size: 1rem;
    font-family: 'Calibri', sans-serif;
    color: #666666;
    text-align: center;
    margin-top: 0.1rem;
}