.bodyContainer {
    position: relative;
    width: 80%;
    margin: 2rem auto;
    border-radius: 100px;
}

.text {
    font-size: 1.2rem;
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(58, 154, 69);
    margin-top: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(44, 115, 52);
}

.link {
    color: rgb(27, 69, 168);
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: rgb(44, 189, 211);
}